@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
body{
    background-color: rgb(225, 225, 205);
}


.Home{
    position: relative;
    min-height: 100vh;
    max-height: fit-content;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.Home .main-cont{
    height: 100%;
    position: relative; /*  keeps footer where it should be  */  
    margin: 0;
}
/*  v hero image v  */
.Home .hero-img{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
    filter: brightness(70%);
}
.Home .hero-text{
    position: absolute;
    bottom: 10%;
    left: 0;
    /* transform: translate(-50%, -10%); */
    color: white;
}
.Home .hero-text p{
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0 auto;
    width: 80%;
    text-align: left;
}
.Home .hero-text button{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #0047ba;
    margin: 1rem auto 0 auto;
    padding: 0.75rem 0.75rem;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80%;
}
.Home .hero-text button img{
    height: 1.25rem;
    margin-right: 0.5rem;
}
.Home .hero-text button:active{
    transform: scale(0.95);
}
/*  ^ hero image ^  */

/*  v choose us v  */

.Home .choose-us{
    padding: 3rem 0;
}
.Home .choose-us h2{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.Home .choose-us .grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.Home .grid-item{
    width: fit-content;
    max-width: 600px;
    height: fit-content;
    position: relative;
    margin: 0.5rem 1rem;
}
.Home .grid-item img{
    border-radius: 2px 2px 0 0;
    width: 100%;
}
.Home .text{
    display: flex;
    justify-content: center;
    border-radius: 0 0 2px 2px;
    height: 120px;
    padding: 1rem 1rem;
    background-color: #333;
    color: white;
    font-weight: 600;
}
.Home .text p{
    font-size: 1.125rem;
    height: fit-content;
    align-self: center;
}
.Home .choose-us a{
    display: block;
    cursor: pointer;
    text-decoration: none;
    background-color: #0047ba;
    margin: 1rem auto;
    width: fit-content;
    padding: 0.75rem 1rem;
    color: white;
    border: none;
    border-radius: 5px;
}
.Home .choose-us a:active{
    transform: scale(.95);
}
/*  ^ choose us ^  */


/* v Review v */

.Home .reviews{
    color: white;
    background-color: #0b870b;
    padding: 3rem 1rem 1rem 1rem;
}
.Home .reviews h2{
    color: white;
}

/* ^ Review ^ */

/* v Updates v */
.Home .updates{
    padding: 3rem 0;
}
.Home .updates h2{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 3rem;
}
/* ^ Updates ^ */
@media only screen and (min-width: 500px) {
    .Home .hero-text{
        text-align: left;
    }
    .Home .hero-text button{
        width: fit-content;
        margin: 1rem 0 5% 25%;
    }
    .Home .hero-text p{
        width: 60%;
        margin: 0 0 0 25%;
        font-size: 1.25rem;
    }
    .Home .grid-item img{
        width: 400px;
        height: 300px;
    }
    .Home .grid-item .text{
        width: 400px;
    }
}
@media only screen and (min-width: 600px) {
    .Home .main-cont .hero-img{
        /* height: 20rem; */
    }
}
@media only screen and (min-width: 768px) {
    .Home .main-cont .hero-img{
        /* height: 25rem; */
    }
}
@media only screen and (min-width: 864px) {
    .Home .grid-item img, .Home .grid-item .text{
        max-width: 400px;
    }
}
@media only screen and (min-width: 1120px) {
    .Home .main-cont .hero-img{
        /* height: 500px; */
    }
}
@media only screen and (min-width: 1350px) {
    .Home .main-cont .hero-img{
        /* height: 700px; */
    }
}
