.Services{
    position: relative;
    padding-bottom: 2rem;
}
.Services .main-cont{
    
}
.Services .quoteBtn{
    display: block;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #0047ba;
    margin: 1rem auto;
    padding: 0.75rem 0.75rem;
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
}
.Services .services-cont{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.Services .info-cont ul{
    text-align: left;
}
.Services .service .info-cont{
    background-color: #333;
    max-width: 500px;
    min-height: 250px;
    max-height: fit-content;
    margin: 0 auto;
    color: white;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}
.Services .main-cont h2{
    font-weight: 600;
    text-align: center;
    padding: 3rem;
    margin: 0 auto 2rem auto;
    background-color: #0b870b;
    color: white;
}
.Services .service{
    width: 100%;
    height: fit-content;
    max-width: 500px;
    border-radius: 5px;
    margin: 2rem 1rem;
}
.Services .service .gats-img{
    width: 100%;
    max-width: 500px;
    max-height: 375px;
}
.Services .service p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}
.Services .service ul li{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}
.Services .service ul{
    margin-bottom: 0;
    padding-bottom: 1rem;
}
@media only screen and (min-width: 500px) {
    .Services .service{
        width: 100%;
        -webkit-box-shadow: 2px 2px 25px 2px #333; 
        box-shadow: 2px 2px 25px 2px #333;
    }
    .Services .services-cont{
        margin: 3rem auto;
    }
    .Services .service img{
        border-radius: 5px 5px 0 0;
        display: block;
        margin: auto;
        max-width: 500px;
        min-width: 100%;
        height: 350px;
    }
    .Services .service .info-cont{
        border-radius: 0 0 5px 5px;
    }
}