.Post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Post .post-cont{
    background-color: #333;
    width: 100%;
    height: fit-content;
    margin: 1rem 0;
}
.Post .post-cont img{
    width: 100%;
    max-width: 500px;
    margin: 0 0 1rem 0;
}
.Post .post-text{
    background-color: #333;
    color: white;
    padding: 1rem;
}
.Post .post-cont h3{
    color: white;
}
.Post .post-cont p{
    text-align: center;
}
.Post .post-cont span{

}
@media only screen and (min-width: 500px) {
    .Post .post-cont{
        box-shadow: 2px 2px 15px black;
        border-radius: 5px;
        width: 500px;
        margin: 1rem auto;
    }
    .Post .post-cont img{
        border-radius: 5px 5px 0 0;
    }
    .Post .post-text{
        border-radius: 0 0 5px 5px;
    }
}